.UserSideBar--container {
    height: 97vh;
    display: flex;
    border: 1px solid #aaa;
    width: 33vw;
    padding: 10px;
    flex-direction: column;
}

.UserSideBar--header {
    width: 100%;
    height: 3rem;
    background-color: #eee;
    text-align: center;
}

.UserSideBar--list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.UserSideBar--list-item {
    padding: 1rem;
    background-color: #ddd;
    font-size: 1.1rem;
}

.UserSideBar--list-item button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 1.25rem;
    cursor: pointer; 
}

.UserSideBar--user-form {
    width: 100%;
    margin: 0;
}

.UserSideBar--user-form form{
    width: 100%;
}

.UserSideBar--user-form input {
    height: 3rem;
    border-radius: 3px;
    border: 1px solid #aaa;
    box-shadow: none;
}

/* Helpers */
.active {
    border: 3px solid yellow;
}
